* text=auto
*.md text working-tree-encoding=UTF-8
*.mdx text working-tree-encoding=UTF-8
*.js text eol=lf
*.ts text eol=lf
*.astro text eol=lf
*.json text eol=lf
*.png binary
*.jpg binary
*.webp binary
*.pdf binary
