---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Filary from '../components/Filary.astro';
import OProjekcie from '../components/OProjekcie.astro';
import KsGuzTeaser from '../components/KsGuzTeaser.astro';
import WydarzeniaTeaser from '../components/WydarzeniaTeaser.astro';
import Wsparcie from '../components/Wsparcie.astro';
---
<Layout
  title="Strona główna"
  description="Projekt kulturalno-filozoficzno-religijny na Roztoczu. Budujemy mosty między starożytnością chrześcijańską a dniem dzisiejszym."
>
  <div class="page-transition">
    <Hero />
    <Filary />
    <OProjekcie />
    <KsGuzTeaser />
    <WydarzeniaTeaser />
    <Wsparcie />
  </div>
</Layout>
